body {
  color: rgb(241, 236, 227);
  background: #343131;
  padding: 1rem;
}

.inline {
  display: inline;
}

.hide-btn {
  margin: 0 5px;
  padding: 0;
  border: solid 0.2rem #e8f4bd;
  border-radius: 0.2rem;
}

.flat-form {
  display: inline;
}
